.faqSection a {
    color: $secondary;
}

.faqSection a:hover {
    color: #ffc643;
}

.accordion-button{
    color: $secondary;
    font-family: $font-family-base;
    background-color: white;
}

.accordion-button:focus{
    color: $primary;
}

.accordion-body:not(.collapsed){
    background-color: transparent;
}
