:root{
    box-sizing: border-box;
    font-family: $font-family-base;
}

.page-wrapper{
    max-width: 1080px;
    margin: 0 auto;
    background-color: transparent;
}

body{
    justify-content: center;
    color: $secondary;
}

*,
::after,
::before{
    box-sizing: inherit;
}

h1{
    font-weight: bold;
    font-family: $font-family-base;
    font-size: 30px;
    color: $secondary;
}

h4{
    font-weight: bold;
    color: $secondary;
    font-family: $font-family-base;
}

h6{
    color: #ffc643;
}

header{
    nav{
        .navbar-nav{
            .nav-item{
                border-right: 1px solid $secondary;
                padding: 0 20px 0 20px;
            }
        }
        .navbar-nav{
            .nav-item:last-child{
                border-right: 0;
            }
        }
    }
}

.header-out{
    background-color: $primary;
}

.header-in{
    background-color: $primary;
    max-width: 1080px;
}

.navbar{
    background-color: $primary;
}

.navbar-nav{
    background-color: $primary;
    color: $secondary;
}

a.nav-link{
    color: $secondary;
    font-family: $font-family-base;
    font-weight: bold;
}

a.nav-link:hover{
    color: white;
}

select.lang-select{
    background-color: $primary;
    color: $secondary;
    border: inherit;
}

.container-fluid button:hover{
    background-color: white;
    color: $primary;
}

.intro{
    background-color: $primary;
    border-radius: 0 0 50px 50px;
}

.intro button:hover{
    background-color: white;
    color: $primary;
}

.features-container{
    max-width: available;
}

.feature-item{
    border-radius: 15px;
}

.feature-text{
    margin: 1em;
}

.services.item{
    margin: 0 auto;
    max-width: 1080px;
}

.checked{
    list-style: none outside none;
}

.checked li:before {
    content: '✓';
}

.plans-item{
    border-radius: 15px;
    li{
        list-style: none;
    }
}

.btn-pricing{
    color: white;
    background-color: $primary;
}

.btn-pricing:hover{
    color:white;
    background-color: $orange-700;
}

.nd{
    text-decoration: line-through;
}

.faqSection a {
    color: $secondary;
}

.faqSection a:hover {
    color: #ffc643;
}

.accordion-button{
    color: $secondary;
    font-family: $font-family-base;
    background-color: white;
}

.accordion-button:focus{
    color: $primary;
}

.accordion-body:not(.collapsed){
    background-color: transparent;
}

.satisfiedCustomers{
    background-color: $primary;
    border-radius: 50px 50px 0 0;
}

.carousel{
    $carousel-transition-duration: 6s;
}

.carousel-item{
    img{
        margin-bottom: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5rem;
        border-radius: 100%;
    }
}

.carousel-caption{
    position: static;
}

footer{
    background-color: $primary;
}

footer a{
    color: $secondary;
    text-decoration: none;
}

footer a:hover{
    color: #ffc643;
}

footer li{
    list-style: none;
}

.mobileImage{
    img{
        width: 100%;
    }
}

.app-image,
.app-image2,
.pc-image{
    img{
        width: 100%;
        height: 100%;
    }
}
