@import "sass/color.scss";

body {
    background-color: #fafbfe;
}

.section {
    background-color: #ffffff;
    color: #494949;
}

.button-sidebar {
    margin: auto 20px auto;
    border: none;
    background-color: $primary;
}

.navbar-show {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    width: 100%;
    background-color: $primary;
}

.header {
    background-color: $primary;
}

.route-list li {
    margin: 10px 5px 10px 5px;
    padding: 0;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: circle;
}

ul li a {
    text-decoration: none;
    color: $secondary;
}

ul li a:hover {
    color: white;
}

ul li a:focus {
    color: white;
}

.button-logout {
    border: none;
    width: 50%;
    background-color: $secondary;
    color: #afafaf;
}
