@import "sass/color.scss";

:root{

    /* Navbar */
    --navbar-height: 60px;

    /* Logo and Menu Button */
    --header-logo-height: var(--navbar-height);
    --menu-button-continaer-size: var(--navbar-height);
    --menu-button-fontsize: calc(var(--navbar-height)* .7);

    /* Colors */
    --main-background: $mainBgColor;
    --section-background: $sectionBgColor;
    --section-foreground-text-color: $sectionFgColor;

    /* Main Transitions */
    --transition-behavior: all 0.5s ease-out;
}



body {
    background-color: var(--main-background);
    transition: inherit;
}

.section {
    background-color: var(--section-background);
    color: var(--section-foreground-text-color);
}

.navbar-show {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 1.4em;
    width: 100%;
    background-color: $primary;
}

.header {
    background-color: $primary;
}

.route-list li {
    margin: 10px 5px 10px 5px;
    padding: 0;
}

ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: circle;
}

ul li a {
    text-decoration: none;
    color: $secondary;
}

ul li a:hover {
    color: white;
}

ul li a:focus {
    color: white;
}

.button-logout {
    border: none;
    width: 50%;
    background-color: $secondary;
    color: #afafaf;
}
